# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build outputs
bin/
obj/
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# .NET
*.nupkg
project.lock.json
artifacts/
TestResults/

# Rider / ReSharper
.idea/
_ReSharper*/
*.DotSettings.user

# OS
.DS_Store
Thumbs.db
